<html>
    <head>
        <link rel="stylesheet" href="/css/login_styles.css">
    </head>
    <body>
        <div class="login_page">
            <div class="form">
                <% if (error != null) {%>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <%}%>
                <form class="login-form" action="/admin/login" method="post">
                    <input type="hidden" name="action" value="login">
                    <input type="text" placeholder="email" name="email">
                    <input type="password" placeholder="password" name="password">

                    <button tyle="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>