<div class="row tile_count">
    <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> 图书总数</span>
            <div class="count" id="book_total">2500</div>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-clock-o"></i> 用户总数</span>
            <div class="count" id="user_total">123.50</div>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> 在库书籍</span>
            <div class="count green" id="instorage_total">2,500</div>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> 当前时间</span>
            <div class="count green" id="current_time">2,500</div>
        </div>
    </div>

</div>
